include reactpy_dash/reactpy_dash.min.js
include reactpy_dash/reactpy_dash.min.js.map
include reactpy_dash/metadata.json
include reactpy_dash/package-info.json
include README.md
include LICENSE
include package.json
